<!DOCTYPE html >
<html lang="en" ng-app="minmax" >
<!-- Above line tells Angular there's an modeul called minmax  that'll controller errthang -->
<head >
	<title >Data Binding</title >
	<link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link href="../libs/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
	<link href="main.css" rel="stylesheet" >
</head >

<body >
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand href='/'"> Controllers </a>
			</div>
		</div>
	</nav>

	<div class="container main-content" ng-controller="MinMaxCtrl" id="formContainer">

		<form ng-submit="onSubmit()" novalidate="novalidate">
			<!-- tells browers not to validate using HTML5 -->
			<!-- attaches a variable to the scope called 'theForm' -->

			<div class="form-group">
				<!-- if error is present, then its appended -->
				<label for="username"> Username </label>
				<input type="text" class="form-control" ng-model="formModel.username" id="name"
				required="required"
				ng-pattern="/^[A-Za-z0-9_]{1,15}$/"
				ng-minlength="5"
			</div>

			<div class="form-group" >
				<label for="email"> Email </label>
				<input type="email" class="form-control" ng-model="formModel.email"
				id="email" name="email" required="required">
			</div>

			<div class="form-group">
				<label for="sex"> Sex </label>
				<select name="sex"
						id="sex"
						class="form-control"
						ng-model="formModel.sex" required="required">
					<option value="" > Please Choose </option>
					<option value="male">Male</option>
					<option value="female">Female</option>
					<option value="Femme Transgender">Femme Transgender</option>
					<option value="Masc Transgender"> Masc Transgender</option>
					<option value="Non Gender Conforming">Non-Gender Conforming</optiion>
					<option value="Agender">Agender</option>
					<option value="Not-listed"> Not-Listed </option>
				</select>
			</div>

			<div class="form-group">
				<label for="password"> Password </label>
				<input type="password" class="form-control"
				ng-model="formModel.password"
				id="password" required="required">
			</div>

			<div class="form-group">
				<button class="btn btn-primary" type="submit"> Register</button>
			</div>
<!-- whenever clicked, it'll do onSubmit funciton on controller for MinMaxCtrl -->
		</form>
		<!-- <pre> {{theForm | json}}</pre> -->
		<pre>
			 {{formModel | json}}
		</pre>
	</div>



	<script src="../libs/angular/angular.min.js" ></script >
	<script src="../libs/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
	<script src="main.js"></script>
	</body >
</html >
